header {
    width: 100%;
    height: 30px;
    padding: 2%;
  }
  
  header p {
    font-family: "Courier Prime", monospace;
    font-style: bold;
    font-weight: 700;
  }
  
  header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header div ul {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  