header {
  width: 100vw;
  height: 50px;
  padding: 2%;

  display: flex;
  align-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;

    // path
    p {
      font-family: "Courier Prime", monospace;
      font-style: bold;
      font-weight: 700;
    }

    // links
    nav {
      width: 45%;
      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
