@import "./Variables/IconosTecnologias";


#proyectos {
  width: 100%;
  // background-color: rgba(255, 0, 0, 0.158);
  div {
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    article {
      ul {
        li {

          #proyecto_marvel{
            background-image: url("/src/assets/proyecto_marvel.jpg");
            background-image: url("/src/assets/617shots_so.png");
          }

          .proyectos_div {
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(0, 0, 0);


            ul {
              display: flex;
              flex-direction: row;
              /* tecnologias */
              .dev {
                height: 25px;
                width: 25px;
                padding: 8px;
                border-radius: 3px;
              }
              li {
                padding: 2px;
              }
            }


            .ProyectosItem_ul-links {
              width: 100%;
              display: flex;
              justify-content: space-around;
              svg {
                margin-right: 5px;
              }
            }


          }
        }
      }
    }
  }
}