#proyectos {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.272);
  div {
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    article {
      ul {
        li {
          .proyectos_div {
            background-color: aqua;
            border-radius: 15px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul {
              display: flex;
              flex-direction: row;
              /* tecnologias */
              .dev {
                height: 25px;
                width: 25px;
                padding: 8px;
                border-radius: 3px;
              }

              .css {
                background-color: rgba(37, 74, 221, 0.185);
                color: rgb(37, 75, 221);
              }

              .html {
                background-color: rgba(221, 76, 36, 0.171);
                color: rgb(221, 75, 36);
              }

              .js {
                background-color: rgba(239, 214, 29, 0.146);
                color: rgb(239, 216, 29);
              }

              .react {
                background-color: rgba(94, 211, 243, 0.199);
                color: rgb(94, 211, 243);
              }

              .sass {
                background-color: rgba(255, 3, 129, 0.119);
                color: rgb(198, 99, 148);
              }

              .node {
                background-color: rgba(3, 136, 47, 0.121);
                color: rgb(134, 190, 1);
              }

              .mongo {
                background-color: rgba(17, 141, 77, 0.174);
                color: rgb(17, 141, 77);
              }

              .mysql {
                background-color: rgba(0, 94, 135, 0.185);
                color: rgb(0, 94, 135);
              }

              .git {
                background-color: rgba(233, 77, 49, 0.174);
                color: rgb(233, 78, 49);
              }

              .github {
                background-color: rgba(0, 0, 0, 0.171);
                color: rgb(0, 0, 0);
              }

              .npm {
                background-color: rgba(255, 1, 1, 0.11);
                color: rgb(197, 54, 53);
              }
              /* tecnologias */
            }
            .ul_links {
              width: 100%;
              display: flex;
              justify-content: space-evenly;
            }
          }
        }
      }
    }
  }
}
