main {
  width: 100vw;
  height: 95vh;
  border: 1px solid red;

  #sobremi {
    width: 100%;
    display: flex;
    flex-direction: row;

    h1 {
      line-height: 65px;
    }

    article {
      width: 100%;
      border: 1px solid red;
      height: 100%;
      padding: 5%;
      text-align: start;

      div {
        width: 100%;
      }
    }

    /* article */
    .sobremi__contacto {
      h1 {
        font-size: 40px;
      }

      .sobremi__contacto--redes {
        margin-top: 15px;

        ul {
          display: flex;
          flex-direction: row;

          li {
            padding: 10px;
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .sobremi__contacto--curriculum {
        button {
          padding: 10px;
          border-radius: 25px;
          background-image: linear-gradient(45deg, rgb(0, 255, 0), blue);
          color: white;
          border-style: none;
          box-shadow: 5px 5px 5px black;
        }
      }
    }

    /* article */
    .sobremi__knowme {
      div {
        p {
          span {
            font-family: "Space Mono", monospace;
            font-family: "Courier Prime", monospace;
            font-family: "Fira Code", monospace;
            font-family: "JetBrains Mono", monospace;
            font-family: "IBM Plex Mono", monospace;
            font-family: "DM Mono", monospace;

            line-height: 25px;
            font-weight: 600;

            .sobremi__knowme-const{
              color: rgb(0, 191, 255);
            }

            .sobremi__knowme-bracket {
              color: rgb(172, 113, 2);
            }

            .sobremi__knowme-key {
              color: rgb(46, 160, 46);
            }

            .sobremi__knowme-value {
              color: rgb(64, 0, 255);
            }

          }
        }
      }
    }
  }
}
