main {
  width: 100vw;
  height: 95vh;
  border: 1px solid red;

  #sobremi {
    width: 100%;
    display: flex;
    flex-direction: row;

    article {
      width: 100%;
      border: 1px solid red;
      height: 100%;
      padding: 5%;
      text-align: start;

      div {
        width: 100%;
      }
    }

    .sobremi__contacto {
      h1 {
        font-size: 40px;
      }

      .sobremi__contacto--redes {
        ul {
          display: flex;
          flex-direction: row;

          li {
            padding: 10px;
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    .sobremi__knowme {
      div {
        p {
          font-family: "Courier Prime", monospace;
          font-weight: 700;
        }
      }
    }
  }
}
