.list-steps-item {
    color: #38485c;
    position: relative;
    padding: 0 0 1.5rem 2.25rem;
}

.list-steps-item:before {
    content: '';
    background-color: #38485c;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    left: 0;
}

.list-steps-item:last-child {
    padding-bottom: 0;
}

.list-steps-item:not(:last-child):after {
    content: '';
    position: absolute;
    background-color: #38485c;
    width: .1875rem;
    height: calc(100% - 24px);
    left: 0.675rem;
    top: 1.5rem;
}

.list-steps-item:not(:last-child):after {
    content: '';
    position: absolute;
    background-color: #38485c;
    width: .1875rem;
    height: calc(100% - 24px);
    left: 0.675rem;
    top: 1.5rem;
}