section {
    position: absolute;
    padding: 2% 6%;
    background-color: rgba(24, 210, 111, 0.772);
    border-radius: 25px;
    width: 70%;
}

.experiencia .experiencia-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.experiencia .experiencia-item {
    padding: 0 0 40px 27px;
    margin-top: 0px;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.experiencia .experiencia-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10.5px;
    top: 0;
    background-color: #5500ff;
    border: 2px solid #5500ff;
}

.fecha_empresa {
    background-color: rgb(219, 205, 160);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.experiencia .experiencia-item h4 {
    line-height: 18px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: #033b0f7d;
    padding: 3% 2% 3% 2%;
    border-radius: 15px;
    text-shadow: 3px 2px 3px black;
}

.experiencia .experiencia-item .fecha_empresa h5 {
    font-size: 15px;
    background-color: rgb(209, 24, 24);
    padding: 5px 5px;
    border-radius: 10px;
}

.experiencia .experiencia-item .fecha_empresa p {
    font-size: 15px;
    background-color: rgb(209, 24, 24);
    padding: 5px 5px;
    border-radius: 10px;
}

.experiencia .experiencia-item ul {
    padding-left: 20px;
}