@import url("https://fonts.googleapis.com/css2?family=Braah+One&family=Comfortaa:wght@300&family=Foldit&family=Libre+Franklin:wght@100&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rethink+Sans:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}
