.html {
    color: rgb(221, 75, 36);
}

.css {
    color: rgb(37, 75, 221);
}

.sass {
    color: rgb(198, 99, 148);
}

.react {
    color: rgb(94, 211, 243);
}

.js {
    color: rgb(239, 216, 29);
}

.node {
    color: rgb(134, 190, 1);
}

.mongo {
    color: rgb(17, 141, 77);

}

.git {
    color: rgb(233, 78, 49);

}

.github {
    color: rgb(0, 0, 0);

}

.npm {
    color: rgb(197, 54, 53);

}